@{
    ViewData["Title"] = "Home";
}



<body>
    <meta name="viewport" content="width=100vw, initial-scale=1.0">
    <style>
        .container {
            position: absolute;
            text-align: center;
        }

        .left_aligned {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>

    <div class="container">
        <img src="~/css/background.jpg" alt="" style="width: 90vw;height:100px">
        <div class="left_aligned" style="color:darkred; font-size:400%; font-family: 'Lucida Console' ">
            <b>ZUBER</b>
            </div>
        <div style="color: black;   font-size: 100%">
            <p> Welcome to Zuber<br />
            <em><b> Start with a destination. End with a smile!</b></em> </p>
        </div>
       
    </div>

</body>

