@{
    ViewData["Title"] = "Privacy Policy";
}

    <body>
        <h1>@ViewData["Title"]</h1>

        <p>
            This privacy statement (“Privacy Statement”) applies to you as a user of our transportation-related services through Zuber Taxi.
            This Privacy Statement describes our practices in handling the information that you provide to us and that we collect about you as a user of our Services.
            This Privacy Statement applies to all users of our Services. We may store, maintain, process and/or transfer the information you provide to us.
            Your use of our Services indicates your agreement with and consent to our practices described in this Privacy Statement.
            If you do not consent to or agree with this Privacy Statement, please do not use any of our Services or participate in any of the features or activities relating to the Services.



<p/>

        </p>

    </body>

